.Header {
  font-family: 'Neutral Face';
  color: white;
  text-align: center;
  letter-spacing: 0.08em;
  border-bottom: 1px solid #FFFFFF;
  padding: 2rem 0 1rem;
}

.Heading {
  font-size: 48px;
}

.SubHeading {
  font-size: 13px;
}